/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author Weichao Zhao & _____________
 */

//deal with the display of the vertical buttion
.slide_show_edit_vbox {
    
    -fx-background-radius: 5.0;
    -fx-alignment: center;
    -fx-background-color: rgb(230, 50, 50);
   
    -fx-border-color: rgb(200, 200, 200);
    //these lines change the spacing between the button
    -fx-padding: 30px 30px 30px 30px;
    -fx-spacing: 60px;
    -fx-background-insets: 0,1,2;
    
   
}



//deal with the HBox of the caption one
.selected_slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(250, 190, 190);
    -fx-border-color: rgb(200, 200, 200);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
}
//deal with the size of the button
.vertical_toolbar_button {
    -fx-background-color: rgb(250, 130, 130);
    -fx-padding: 25px 25px 25px 25px;
    -fx-spacing: 50px;
    }
  
    //handles the spacing between the horizontal controls
.horizontal_toolbar_button {
    -fx-background-radius: 5.0;
    -fx-alignment: center;
    
    -fx-background-color: lightgoldenrodyellow;
    -fx-border-color: rgb(200, 200, 200);
    //these lines change the spacing between the button
    -fx-padding: 20px 20px 20px 20px;
    -fx-spacing: 15px;
    -fx-background-insets: 0,1,2;
    -fx-hgap: 35px;
/*    -fx-padding: 25px 25px 25px 25px;
    -fx-spacing: 80px;*/
  }
  
  //set the style and font of the textField like 
  // caption and title
  .textField_style{
      -fx-font-family: 'Helvetica', Arial, sans-serif;
      -fx-font-style: italic;
      -fx-text-fill: black;
/*      -fx-font-weight: bold;*/
      -fx-font-size: 20;
      
      
  }  
  
  .language_ComboBox{
/*        -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;*/
    -fx-padding: 15 15 15 15;
    -fx-text-fill: black;
    -fx-font-size: 16px; 
  }

  
  //tried to change the language option, but didn't work
  .language_option_vbox{

   -fx-background-radius: 5.0;
    -fx-background-color: rgb(230, 50, 50);
    -fx-border-color: rgb(200, 200, 200);
   
    -fx-alignment: center;
    //these lines change the spacing between the button
    -fx-spacing: 40px;
    -fx-background-insets: 0,1,2;

  } 
  
  
  
  .OK_BUTTON{
     // -fx-alignment: center;
       -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 20 83 20 20;
    -fx-text-fill: black;
    -fx-font-size: 25px;
  }
  
  //deal with the screen of language selection
  .root{
      -fx-background-color: rgb(255,255,170);
  }
  
  
  

  

