/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author Weichao Zhao
    
 */ 


 .text_component_combobox{
/*        -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;*/
    -fx-padding: 15 15 15 15;
    -fx-text-fill: black;
    -fx-font-size: 16px; 
  }
  
  .image_component_combobox{
/*        -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;*/
    -fx-padding: 10 10 10 10;
    -fx-text-fill: black;
    -fx-font-size: 16px; 
  }


.page_editor_workspace_vbox{
/*    -fx-background-color: green; */
  -fx-background-color:  darkolivegreen;
}


//deal with the size of the button
.vertical_toolbar_button {
    -fx-background-color: rgb(250, 130, 130);
    -fx-padding: 15px 15px 15px 15px;
    -fx-spacing: 30px;
    }
  
    //handles the spacing between the horizontal controls
.horizontal_toolbar_button {
    -fx-background-radius: 5.0;
/*    -fx-alignment: center;*/
    
/*    -fx-background-color: lightgoldenrodyellow;*/
    -fx-background-color: rgb(255,255,190);
    -fx-border-color: rgb(200, 200, 200);
    //these lines change the spacing between the button
    -fx-padding: 20px 20px 20px 20px;
    -fx-spacing: 10px;
    -fx-background-insets: 0,1,2;
    -fx-hgap: 50px;

  }
  
  //set the style and font of the textField like 
  // caption and title
  .textField_style{
      -fx-font-family: 'Helvetica', Arial, sans-serif;
      -fx-font-style: italic;
      -fx-background-color: grey;
      -fx-highlight-text-fill: blue;
      -fx-font-weight: bold;
      -fx-font-size: 14;
      
      
  }  
  
  .page_label{
      -fx-text-fill: black;
  }

  //deal with the background color of the scene( the application window)
  .root {
/*     -fx-background-image: url("/images/slide_show_images/ArchesUtah.jpg");*/
      // -fx-background-image: url(“/images/slide_show_images/pikachu.png”)；
        -fx-background-color: yellow;
        -fx-base: rgb(50,50,50);
       -fx-control-inner-background: rgb(50,50,50);
     
  }
  
  //vbox for the text component dialog
  .text_component_option_vbox{

 -fx-alignment: center;
  -fx-background-color: blue;
  -fx-padding: 15px;
  -fx-spacing: 15px;
    

  } 
  //vbox fo the image component dialog
  .image_component_option_vbox{
      -fx-alignment: center;
      -fx-background-color: blue;
  -fx-padding: 7px;
  -fx-spacing: 7px;
  }
  
  
  
  .OK_BUTTON{
      
       -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: red;
    -fx-font-size: 24px;
  }
  
  .CANCEL_BUTTON{
       -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: red;
    -fx-font-size: 24px;
  }
  
  //deal with the screen of language selection
  .Language_selection_screen{
      -fx-background-color: yellow;
        -fx-base: rgb(50,50,50);
       -fx-control-inner-background: rgb(50,50,50);
      
  }
  

  

